@media (max-width: 600px) {
  .article-list.block .list-wrapper {
    display: block;
  }

  .article-list.block .list-wrapper .article-list-item {
    width: 100%;
    }
}

.article-list .list-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.article-list .list-wrapper .article-list-item {
  border: 1px solid #dadada;
  background-color: var(--background-color);
  flex: 1 1 300PX;
  width: 32%;
}